<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sample Open APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sample Open APP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->
    <ion-item>
      <ion-label position="floating"><strong>APP</strong></ion-label>
      <ion-input name="appName" [(ngModel)]="appName" placeholder="com.google.android.gm"></ion-input>
    </ion-item>
    <ion-button color="primary" (click)=openApp()>Open</ion-button>
  </div>
</ion-content>
